/*

@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fontface/LeagueGothic/League_Gothic-webfont.ttf') format('truetype'),
         url('../fontface/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


/********** HEADER AND FOOTER *********/

header {
	background: #222;
	/*
background: -webkit-linear-gradient(#464444 0%, #1e1e1e 100%);
	background: -moz-linear-gradient(#464444 0%, #1e1e1e 100%);
*/
	
	width: 100%;
	margin: 2em auto 0;
	float: left;
}

header nav {
	max-width: 920px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

header img {
	overflow: hidden;
}

header nav ul {
	float: right;
	display: block;
}

header nav ul li {
	float: left;
	padding: 4.5% 0;
}

footer {
	background: #222;
	color: #eee;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	float: left
}

footer aside {
	margin: 0 auto; 
	width: 91%;
	padding: 2%;
	padding-bottom: 4%;
}

footer aside ul li {
	float: left;
	margin: 0 1em 0 0;
}

footer aside ul:last-of-type {
	float: right;
}

footer aside ul li a:link, footer aside ul li a:visited {
	color: #fff;
	text-decoration: none;
}

footer aside ul li a:hover, footer aside ul li a:active, footer aside ul li a:focus {
	color: #008fff;
}


a.logo {
	display: block;
	width: 150px;
	height: 100px;
	text-decoration: none;
	background: url('../img/geoffreyrosedesign_logonotext.png') no-repeat 0 -100px;	
	float: left;
	width: 100%;
	max-width: 120px;
	margin: -1.2em 0 0 1em;
	position: absolute;
	top:0;
	left:0;
}

a.logo:hover, a.logo:active, a.logo:focus {
	background-position: 0 0;
	}


/********** <a> STYLE MAIN NAVAGATION*********/

header nav ul li a:link, header nav ul li a:visited {
	
	border-right: 2px solid #333;
	color: #fff;
	padding: 1em 1.5em;
	font-size: 0.85em;
	font-weight: bold;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	transition: all .5s linear;	
	text-decoration: none;
}

header nav ul li:last-of-type a:link, header nav ul li:last-of-type a:visited {
	
	border-right: none;
	
}

header nav ul li:nth-child(1) a:hover, header nav ul li:nth-child(1) a:active, header nav ul li:nth-child(1) a:focus {
	color: #fe9d00;
	
}

header nav ul li:nth-child(2) a:hover, header nav ul li:nth-child(2) a:active, header nav ul li:nth-child(2) a:focus {
	color: #008fff;
	
}

header nav ul li:nth-child(3) a:hover, header nav ul li:nth-child(3) a:active, header nav ul li:nth-child(3) a:focus {
	color: #3ad400;

}

header nav ul li:nth-child(4) a:hover, header nav ul li:nth-child(4) a:active, header nav ul li:nth-child(4) a:focus {
	color: #ef3100;

}

/********** Structure *********/

body div {
	margin: 0 auto; 
	width: 100%;
	max-width: 960px;
	background: rgba(255,255,255, 0.75);
}

article {
	padding: 3.31%;
	float: left;
	background: #ddd;
	background: rgba(205,205,205, 0.75);
	width: 93.4%;
}

.clearboth {
	clear: both;
}


/********** Heading FLAGS *********/

h1 {
		 border-bottom: 5px solid;
		 font-weight: bold;
		 margin-left: -7%;
		 padding: 1% 0;
		 text-align: center;
		 text-shadow: 0px -2px 1px #000;
		 width: 40%
	}
	
#home {
	color: #FFF;
	background: #FE9D00;
	border-color: #000;
	width: 70%;
}

#portfolio {
	color: #FFF;
	background: #008fff;
	border-color: #000;
	
}

#portfoliolinks {
	display: block;
	clear: right;
}

#portfoliolinks a:link, #portfoliolinks a:visited {
	color: #000;
	text-decoration: none;
	margin: 0.5em 0.5em 1em 0;
	display: block;
	float: left;
	}
	
#portfoliolinks a:link:last-of-type{
	clear: right;
}	

#portfoliolinks a:hover, #portfoliolinks a:active, #portfoliolinks a:focus {
	color: #008fff;
}

#about {
	color: #FFF;
	background: #ef3100;;
	border-color: #000;
}

#contact {
	color: #FFF;
	background: #3ad400;
	border-color: #000;
}

/********** Typography *********/

body {
	font-family: 'Gill Sans', 'Helvetica Neue', Helvetica, 'Karla', Arial, sans-serif;
	
	background: url('../img/bgsquare.png') repeat rgba(225,225,225,.5);
}

h1, h2, h3, h4, h5, h6 { 
	clear: both;
}

h1 {
	font-size: 2.5em;
	color: #555;
}

h2 {
	font-size: 2.0em;	
	font-weight: 100;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

article section p {
	line-height: 1.6em;
	padding: 1% 0 1% 0;
	font-size: 1.1em;
	color: #333;
}

/********** Form *********/

form {
	margin: 1em 0;	
}

.requiredstar {
	color: #f00;
	font-size: .75em;	
}

form label {
	display: block;
	font-size: 1.05em;
	margin: 2em 0 0.25em 0;
}

form label:first-child {
	margin-top: 0;	
}

input {
	padding: 1%;
	width: 30%;	
	border-radius: 0px;
}

textarea {
	padding: 1%;
	width: 50%;	
}

button {
	margin: 1em 0 0 0;	
}

form label.error {
	float: none; 
	color: red; 
	margin: 0em 0 0 .5em;
}

/********** Car Move *********/
#carmovebg {
	margin: 0 -3.5%;	
	overflow: hidden;
	-webkit-box-reflect: below -30% -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(white));
	
	box-reflect: below -30% gradient(linear, left top, left bottom, from(transparent), color-stop(0.55, transparent), to(white));
	
	transform: translate3d(0,10px,0);
	-webkit-transform: translate3d(0,10px,0);
}

#carmove {
	width: 100%;
	margin: 0 0 0 0;
}

#carbody {
	width: 60%;
	position: relative;
	z-index: 3;	
	margin: 4em 0 0 0;
	
}

#wheelf {
	max-width: 8%;
	position: relative;
	margin: 0 0 1% -17%;
	z-index: 4;	
	
}

#wheelb {
	width: 8%;
	position: relative;
	margin: 0 0 1.5% -36%;
	z-index: 4;	
}

#bgmove {
	margin: -16% 0 10% -3%;	
}

#bg1 {
	position: relative;
	z-index: 1;	
	margin: 0% 0 -2% 100%;
	width: 100%;
}

#bg2 {
	position: relative;
	z-index: 2;	
	margin: -5% 0 0% 100%;
	width: 100%;
}

@-webkit-keyframes wheelspin {

	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes wheelspin {

	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}

@-ms-keyframes wheelspin {

	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}

@keyframes wheelspin {

	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

	#wheelf, #wheelb {
	 -webkit-animation: wheelspin linear 2s infinite;
	 -moz-animation:    wheelspin linear 2s infinite;
	 -ms-animation:     wheelspin linear 2s infinite;
	 animation:     	wheelspin linear 2s infinite;
	 }
	 
@-webkit-keyframes carmove {
	0%   { margin-left: -80%; }
	100% { margin-left: 100%; }
}

@-moz-keyframes carmove {
	0%   { margin-left: -80%; }
	100% { margin-left: 100%; }
}

@-ms-keyframes carmove {
	0%   { margin-left: -80%; }
	100% { margin-left: 100%; }
}

@-keyframes carmove {
	0%   { margin-left: -80%; }
	100% { margin-left: 100%; }
}

#carmove {
     -webkit-animation: carmove linear 10s infinite;
     -moz-animation:    carmove linear 10s infinite;
     -ms-animation:     carmove linear 10s infinite;
	 animation:     	carmove linear 10s infinite;
}
	 
@-webkit-keyframes bg1 {
	0%   { margin-left: 103%; }
	100% { margin-left: -100%; }
}

@-moz-keyframes bg1 {
	0%   { margin-left: 103%; }
	100% { margin-left: -100%; }
}

@-ms-keyframes bg1 {
	0%   { margin-left: 103%; }
	100% { margin-left: -100%; }
}

@-keyframes bg1 {
	0%   { margin-left: 103%; }
	100% { margin-left: -100%; }
}

#bg1 {
     -webkit-animation: bg1 linear 10s 5s infinite;
     -moz-animation:    bg1 linear 10s 5s infinite;
     -ms-animation:     bg1 linear 10s 5s infinite;
	 animation:     	bg1 linear 10s 5s infinite;
}

@-webkit-keyframes bg2 {
	0%   { margin-left: 100%; }
	100% { margin-left: -100%; }
}

@-moz-keyframes bg2 {
	0%   { margin-left: 100%; }
	100% { margin-left: -100%; }
}

@-ms-keyframes bg2 {
	0%   { margin-left: 100%; }
	100% { margin-left: -100%; }
}

@-keyframes bg2 {
	0%   { margin-left: 100%; }
	100% { margin-left: -100%; }
}

#bg2 {
     -webkit-animation: bg2 linear 10s infinite;
     -moz-animation:    bg2 linear 10s infinite;
     -ms-animation:     bg2 linear 10s infinite;
	 animation:     	bg2 linear 10s infinite;
}
	 
/********** portfolio viewer *********/

.fullimages li img {
	width: 100%;
}

.thumbnailimages li img {
	float: left;
	width: 17%;
	margin: 1em .5em 0em .5em;
}

.thumbnailimages li a:link img, .thumbnailimages li a:visited img{
	border: 2px rgba(255,255,255,0.0) solid;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	
}

.thumbnailimages li a:hover img, .thumbnailimages li a:active img, .thumbnailimages li a:focus img {
	border: 2px #008fff solid;
}


.inlineimage {
	width: 25%;
	float: left;
	margin-right: 3%;

}
@media screen and (max-width: 49em){

	article {
		padding-top: 0;
	}
	
	header nav ul {
		margin: 0 3em 0 0;
	}
	
	header nav ul li {
		width: 50%;
		text-align: center;
	}
	
	header nav ul li a:link, header nav ul li a:visited {
		border-right: none;	
	}
	
	footer aside ul:last-of-type {
		float: left;
		padding: .5em 0;
		clear: both;
	}
	
	footer {
		float: left;
		
	}
	
	h1 {
		margin: 0 0% 0 -4%; 
		width: 100%;
		padding:  2% 3.7%;
		font-size: 2.0em;
		clear: none;
	}
	
	#home {
		width: 100%;
	}
	
	
	h2 {
	
	}
	
	h3 {
		
	}
	
	h4 {
		
	}
	
	h5 {
		
	}
	
	h6 {
		
	}

	.inlineimage {
		width: 50%;
	}

	/********** Form *********/
	
	input {
		width: 50%;
	}
	
	.thumbnailimages li img {
	width: 21.7%;
	}

}




@media screen and (max-width: 39em) {

	header nav ul {
		margin: 0 0 0 0;
	}
	
	header nav ul li {
		width: 100%;
		text-align: center;
		padding: 1em 0;
	}
	
	header nav ul li a:link, header nav ul li a:visited {	
		padding: 1em 7em;	
		width: 100%;
	}
	
	footer {
		position: relative;
		font-size: .75em;
	}
	
	footer aside ul:last-of-type {
		clear: both;
		padding-bottom: 1em;
	}

	footer aside ul {
		float: left;
		padding-bottom: 1em;
	}
	
	footer aside {
		padding-bottom: 3.5em;
		
	}
	
	/********** Form *********/
	
	input {
		padding: 1.5%;
		width: 95%;
	}
	
	textarea {
		padding: 1.5%;
		width: 95%
	}
	
	
	h1 {
		margin-bottom: .5em;
		padding:  3.5% 3.7%;
	}
	
	.thumbnailimages li img {
	width: 26.7%;
	}
	
	article section p {
		padding: 1% 4%;
	}
	
	.inlineimage {
		width: 100%;
	}
}
